<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42773556112-ac98kniifk0t2um28eob849lh1sitv4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42773556112-ac98kniifk0t2um28eob849lh1sitv4d</string>
	<key>API_KEY</key>
	<string>AIzaSyAokJ82EHSUhjdgjJPYpB3P2BBphITU82Y</string>
	<key>GCM_SENDER_ID</key>
	<string>42773556112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.howaiu</string>
	<key>PROJECT_ID</key>
	<string>howaiu-7f904</string>
	<key>STORAGE_BUCKET</key>
	<string>howaiu-7f904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42773556112:ios:56fb22ff2479b263606115</string>
</dict>
</plist>